{% load static %}

<section class="about" id="about">
  <h1 class="about-title">About Me</h1>
  <div class="about-content">
    <div class="about-img">
      <img src="{% static 'images/suits.jpeg' %}" alt="Gonçalo Sousa" />
    </div>
    <div class="about-info">
      <h1 class="whoami">I'm Gonçalo Sousa</h1>
      <p class="about-story">
        I started my programming journey when I was 15 years old. Over the past year, I've been
        working extensively
        with Python and Django, developing my skills and learning new concepts every day.
      </p>
      <p class="about-story">
        Currently, I'm delving into
        data structures and algorithms to further enhance my knowledge and capabilities.
      </p>
      <div class="about-details">
        <div>
          <i class="fas fa-birthday-cake"></i>
        </div>
        <div>
          <p class="about-attribute">Birth:</p>
          <p>2006</p>
        </div>
      </div>
    </div>
  </div>
</section>
{#<li><i class="fas fa-envelope"></i><strong> Email:</strong> gsag.sousa@icloud.com</li>#}
{#        <li><i class="fas fa-flag"></i><strong> Nationality:</strong> Portuguese</li>#}
{#        <li><i class="fas fa-map-marker-alt"></i><strong> Address:</strong> Porto, Portugal</li>#}
{#        <li><i class="fas fa-language"></i><strong> Spoken Languages:</strong> Portuguese, English, French, Spanish</li>#}
